/* estilos general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilos body */
body{
    width: 100wh;
    min-height: 100vh;
    background-image: url(../assets/images/background_Site.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
main{
    width: 100wh;
    max-width: 960px;
    margin: 0 auto;
    padding: 1%;
}
/* estilos seccion card (contiene todas las tarjetas) */
.content-section{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 20px;
}
/* estilos tarjeta contenedor padre */
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px; 
    font-family:"nunito";
    outline: 2px solid #302e2e;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px 2px rgba(0,0,0, 0.2);
    background-image: url(../assets/images/Background_Card.png);
    /* margin: 10px; 
    flex-shrink: 0; para no se reduzca tamaño
    flex-grow: 0; para no se amplie tamaño
    */
}
/* estilos id contenedor hijo */
.card__id{
    align-self: flex-start;
    text-align: center;
    height: 28px;
    width: 42px;
    margin: 5px;
    font-weight: bold;
    /* border: 1px solid #302e2e; */
    border-radius: 0.3rem;
    background-color:  #FFA000; /*#f3610c;*/  
    /* #FFA000 */
}
.card__character{
    height: 115px;
    width: 115px;
}
/* estilos imagen de tarjeta contenedor hijo */
.card__image{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* estilos informacion de tarjeta contenedor hijo */
.card__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    height: 40%;
    width: 100%;
    color: #F4EBEB; 
    text-transform: uppercase;
    background-color: rgb(17, 16, 16) ;/*#f55610;*/ /* rgb(17, 16, 16);*/
    background-position: 100%;
    border-bottom: 1px solid #302e2e;
    border-bottom-left-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
    padding: 5%;
}
/* estilos icono de tipo contenedor hijo */
.card__icon{
    width: 15%;
}

.filter__item{
    text-transform: uppercase;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

li{
    padding-left: 10px;
}