*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    background-image: url(background_Site.jpg);
    background-size: cover;
    /* background-size: 100%; */
    background-position: center center;
    background-repeat: no-repeat;
}

.card{
    /* display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%; */
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    max-width: 100vh;
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
    padding: 1%;
}

.card_conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; 
    height: 15%;
    font-family:'Roboto', sans-serif;
    border: 3px solid #0F0E0E;
    border-radius: 6%;
    background-image: url(Background_Card.png);
    overflow: hidden;
}

.card_Id{
    position: relative;
    top: 6px;
    left: -55px;
    height: 8%;
    width: 20%;
    border: 3px solid #0F0E0E;
    border-radius: 6%;
    background-color: #FFA000; 
}

.card_character{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 70%;
}

.card_2nd_cont{
    height: 40%;
    width: 100%;
    color: #F4EBEB; 
    background-color: #0F0E0E;
}

.card_type_icon{
    width: 15%;
}

@media (max-width: 700px){
    .card_conteiner{
        /* width: 190px; */
        margin-bottom: 1rem;
        min-width: 160px; 
    }
    .card_character{
        height: 115px;
        width: 115px;
        background-color: aqua;
    }
    .card_Id{
        display: flex;
        top: 0;
        left: 0;
        justify-content: center;
        height: 25px;
        width: 40px;
        border: 3px solid #0F0E0E;
        border-radius: 6%;
        background-color: #FFA000; 
    }
}